body {
  font-family: "Fira Sans", sans-serif;
  background-color: #fffaf2;
}
.slick-slide {
  margin: 0 25px; /* 50px gap between items (25px on each side) */
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #c03a3b;
}